<div class="x">
  <ion-toolbar color="basic">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon  name="add-circle-outline" style="color: black;font-size: 30px;float: right;margin-right: 10px;" (click)="addOrder()"></ion-icon>
    <button type="button" style="color: white;font-size: 10px;float: right;margin-right: 10px;" class="btn btn-danger"><i  class="fa-solid fa-filter"></i></button>
    <ion-title>Order Management</ion-title>
  </ion-toolbar>
</div>
<ion-content>
  <ion-segment scrollable [(ngModel)]="type" >
    <ion-segment-button *ngFor="let category of categories;let i = index;" value="{{category}}"  (click)="click(i)">
      {{category}}
    </ion-segment-button>
  </ion-segment>
  <div class="y">
    <ion-slides #slide (ionSlideDidChange)="hai($event)">
    <ion-slide *ngFor="let category of categories;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S No</th>
            <th scope="col">Staff Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Sakthivel</td>
            <td>1000</td>
            <td><button type="button" (click)="showDetails()" class="btn btn-success btn-lg ">
              <i class="fa fa-eye"></i>
            </button></td>
          </tr>
        </tbody>
      </table>
      
    </ion-slide>
  </ion-slides>
</div>
</ion-content>
